@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700;800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 11px;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.page-wrapper {
  display: flex;
  position: relative;
}

.container {
  max-width: 85.4166666667vw;
  margin-inline: auto;
  display: flex;
}
@media (max-width: 991.8px) {
  .container {
    max-width: 100%;
  }
}

.header {
  padding-top: 1.1458333333vw;
}
@media (max-width: 991.8px) {
  .header {
    padding-top: 0;
    height: 119px;
    position: fixed;
    width: 100%;
    transition: 0.6s;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
  border-bottom: 0.0520833333vw solid rgba(42, 42, 42, 0.15);
  padding-bottom: 0.5729166667vw;
}
@media (max-width: 991.8px) {
  .header__wrapper {
    position: fixed;
    justify-content: space-between;
    padding: 5vw 0 0 7.8125vw;
    width: 80%;
  }
}
.header__logo {
  display: flex;
  gap: 1.1979166667vw;
  align-items: center;
  padding-right: 3.3854166667vw;
}
.header__logo-image {
  width: 11.09375vw;
  height: 2.6041666667vw;
  background-image: url("../../image/logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 991.8px) {
  .header__logo-image {
    width: 28.75vw;
    height: 6.875vw;
  }
}
.header__logo-picture {
  width: 100%;
}
.header__logo-description {
  font-size: 0.5729166667vw;
  line-height: 182%;
  letter-spacing: 0.02em;
  color: #2A2A2A;
  max-width: 6.9791666667vw;
}
@media (max-width: 991.8px) {
  .header__logo-description {
    display: none;
  }
}
.contact__list {
  display: flex;
  gap: 2.96875vw;
}
@media (max-width: 991.8px) {
  .contact__list {
    display: none;
  }
}
.contact__item {
  display: flex;
  gap: 0.5208333333vw;
  align-items: center;
}

@media (max-width: 991.8px) {
  .fixed-color {
    z-index: 4;
    background: linear-gradient(270deg, rgb(22, 26, 30) 0%, rgb(22, 26, 30) 95%);
  }
}

.scroll {
  position: absolute;
  height: 100%;
  top: 9.375vw;
  left: 2.6041666667vw;
}
@media (max-width: 991.8px) {
  .scroll {
    display: none;
  }
}
.scroll::after {
  position: absolute;
  content: "";
  border-bottom: 0.0520833333vw solid #EFEFEF;
  height: 0.1041666667vw;
  width: 26.0416666667vw;
  transform: rotateZ(90deg);
  top: 20.8333333333vw;
  left: -12.34375vw;
}
.scroll__description {
  writing-mode: vertical-lr;
  transform: rotateZ(180deg);
  font-weight: 700;
  font-size: 0.8333333333vw;
  line-height: 1.3020833333vw;
  letter-spacing: 0.1em;
  color: #EFEFEF;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.scroll__btn {
  width: 0.9375vw;
  height: 1.6666666667vw;
  border: 0.0520833333vw solid #EFEFEF;
  border-radius: 0.5208333333vw;
  position: relative;
  margin-left: 0.15625vw;
  margin-top: 31.25vw;
  cursor: pointer;
}
.scroll__btn:hover {
  background-color: rgba(253, 32, 22, 0.2);
}
.scroll__btn-after {
  position: absolute;
  content: "";
  width: 0.2083333333vw;
  height: 0.2083333333vw;
  border-radius: 50%;
  border: 0.0520833333vw solid #FD2016;
  top: 0.2604166667vw;
  left: 0.3125vw;
  transition: 0.2s;
}
.scroll__btn::before {
  position: absolute;
  content: "";
  width: 0.4166666667vw;
  height: 0.0520833333vw;
  border-bottom: 0.0520833333vw solid #EFEFEF;
  left: 0.3125vw;
  top: -0.3125vw;
  transform: rotateZ(90deg);
}

.scroll-down {
  top: 1.0416666667vw;
}

.modal-google {
  width: 100vw;
  height: 100vh;
  background-color: rgba(35, 35, 35, 0.5);
  z-index: 2;
  position: absolute;
  display: none;
}
.modal-google__map {
  margin: auto;
  width: 70%;
  height: 70%;
}
.modal-callback {
  width: 100vw;
  height: 100vh;
  background-color: rgba(35, 35, 35, 0.5);
  z-index: 2;
  position: absolute;
  display: none;
}
.modal-callback__box {
  padding-top: 2.0833333333vw;
  width: 26.0416666667vw;
  height: 31.25vw;
  background-color: #231F21;
  margin-top: 2.6041666667vw;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: relative;
}
.modal-callback__box-trigger {
  position: absolute;
  background-image: url("../../image/cross.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1.0416666667vw;
  height: 1.0416666667vw;
  right: 1.8229166667vw;
  top: 1.8229166667vw;
  cursor: pointer;
  transition: 0.2s;
}
.modal-callback__title {
  font-weight: 500;
  font-size: 1.6666666667vw;
  line-height: 2.2916666667vw;
  text-align: center;
  max-width: 14.6875vw;
}
.modal-callback__description {
  max-width: 18.90625vw;
  font-size: 0.9375vw;
  line-height: 1.4583333333vw;
  text-align: center;
  color: #fff;
  padding-top: 1.0416666667vw;
}
.modal-success {
  width: 100vw;
  height: 100vh;
  background-color: rgba(35, 35, 35, 0.5);
  z-index: 2;
  position: absolute;
  display: none;
}

.visible {
  display: flex;
}

.form {
  display: block;
  padding-inline: 3.5416666667vw;
}
.form-label {
  font-size: 0.7291666667vw;
  line-height: 0.9895833333vw;
  padding-bottom: 0.625vw;
  padding-top: 1.7708333333vw;
  display: block;
  text-align: center;
}
.form-btn {
  width: 18.90625vw;
  height: 4.4270833333vw;
  border-radius: 3.8020833333vw;
}
.form-control {
  border: none;
  background: #FAFAFA;
  box-shadow: inset 0 0 1.09375vw rgba(255, 255, 255, 0.4);
  font-size: 0.9375vw;
  line-height: 1.25vw;
  letter-spacing: 0.03em;
  text-align: center;
  color: #B0B0B1;
}
.form-submit {
  background-color: #FD2016;
  color: #fff;
  font-weight: 600;
  font-size: 0.8333333333vw;
  line-height: 1.25vw;
  letter-spacing: 0.04em;
  margin-block: 1.3020833333vw;
  cursor: pointer;
  transition: 0.2s;
}
.form-submit:hover {
  background-color: #fd5049;
}
.form-wrapper {
  display: flex;
  gap: 0.7291666667vw;
}

.checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox-input:checked + label {
  content: "";
  padding-left: 28px;
  line-height: 20px;
  position: relative;
  cursor: pointer;
}
.checkbox-input:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}
.checkbox-input:checked + label:before {
  content: "";
  background-image: url("../../image/done.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  position: absolute;
  left: 1px;
  top: 11px;
  width: 1.0416666667vw;
  height: 1.0416666667vw;
  border: none;
  background-color: #FD2016;
  border-radius: 2px;
}
.checkbox-input:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 1px;
  top: 11px;
  width: 1.0416666667vw;
  height: 1.0416666667vw;
  border: 1px solid #fff;
  background-color: #ffffff;
  border-radius: 2px;
}
.checkbox-label {
  font-size: 0.7291666667vw;
  line-height: 0.9895833333vw;
  color: #fff;
}
.checkbox-link {
  color: #FD2016;
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes shake {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0;
  }
}
.invalid {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.6rem #ff0000;
}

.item-image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.8229166667vw;
  height: 1.8229166667vw;
}
.item-image--map {
  background-image: url("../../image/map.svg");
}
.item-image--vector {
  width: 0.625vw;
  height: 0.78125vw;
  background-image: url("../../image/vector.svg");
}
.item-image--calc {
  background-image: url("../../image/calc.svg");
}
.item-image--whatsapp {
  background-image: url("../../image/whatsapp.svg");
}
.item-image--telegram {
  background-image: url("../../image/telegram.svg");
}
.item-image--viber {
  background-image: url("../../image/viber.svg");
}
.item-image__picture {
  width: 100%;
}
.item-description {
  display: block;
  font-style: normal;
  font-size: 0.5729166667vw;
  line-height: 164%;
  color: #2A2A2A;
  max-width: 8.1770833333vw;
}
.item-description--vector {
  font-weight: 700;
  font-size: 0.5729166667vw;
  line-height: 0.78125vw;
  letter-spacing: 0.05em;
  color: #2A2A2A;
  cursor: pointer;
}
.item-description--calc {
  font-weight: 700;
  font-size: 0.5729166667vw;
  line-height: 0.9895833333vw;
  letter-spacing: 0.05em;
  color: #2A2A2A;
  cursor: pointer;
}
.item-description--social {
  font-weight: 400;
  font-size: 0.5729166667vw;
  line-height: 0.9375vw;
  letter-spacing: 0.03em;
  max-width: 5.2083333333vw;
  margin-right: 0.7291666667vw;
  margin-left: 1.3541666667vw;
}
.item-map {
  position: absolute;
  width: 0;
  height: 0;
  transition: 0.2s;
}
.item-wrapper {
  position: relative;
}
.item-wrapper:hover .underline__dots {
  width: 60%;
  background-size: 0.2083333333vw 0.1041666667vw;
}
.item-wrapper:hover .item-map {
  width: 20.8333333333vw;
  height: 18.2291666667vw;
  top: 1.6666666667vw;
  left: 0;
  z-index: 1;
}
.item-box {
  display: flex;
  gap: 0.3125vw;
}

.callback {
  margin-left: 2.96875vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.callback__title {
  font-size: 0.625vw;
  line-height: 0.5208333333vw;
  letter-spacing: 0.02em;
  position: relative;
  padding-bottom: 0.78125vw;
}
@media (max-width: 991.8px) {
  .callback__title {
    color: #fff;
    font-weight: 400;
    font-size: 1.875vw;
  }
}
.callback__title::before {
  position: absolute;
  content: "";
  width: 0.2083333333vw;
  height: 0.2083333333vw;
  border-radius: 50%;
  background-color: #20C863;
  top: 0.2083333333vw;
  left: -0.4166666667vw;
}
@media (max-width: 991.8px) {
  .callback__title::before {
    width: 1.25vw;
    height: 1.25vw;
    top: -0.625vw;
    left: -2.5vw;
  }
}
.callback__phone {
  padding-bottom: 0.3125vw;
}
.callback__link {
  font-weight: 700;
  font-size: 1.0416666667vw;
  line-height: 0.5208333333vw;
  color: #2A2A2A;
  display: block;
  position: relative;
}
@media (max-width: 991.8px) {
  .callback__link {
    font-size: 3.75vw;
    color: #fff;
    padding-block: 1.875vw;
  }
}
.callback__link::after {
  position: absolute;
  content: "";
  width: 0.3645833333vw;
  height: 0.3645833333vw;
  border-right: 0.0520833333vw solid #FD2016;
  border-top: 0.0520833333vw solid #FD2016;
  transform: rotateZ(135deg);
  right: -1.0416666667vw;
}
@media (max-width: 991.8px) {
  .callback__link::after {
    display: none;
    width: 2.1875vw;
    height: 2.1875vw;
  }
}
.callback__call-description {
  font-size: 0.625vw;
  line-height: 1.09375vw;
  letter-spacing: 0.05em;
  grid-area: de;
  margin-right: 0.5208333333vw;
}
@media (max-width: 991.8px) {
  .callback__call-description {
    font-size: 1.875vw;
    color: #fff;
  }
}
.callback__box {
  display: grid;
  grid-template-areas: "de im" "do do";
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.callback__box:hover .underline__dots {
  width: 60%;
  background-size: 0.2083333333vw 0.1041666667vw;
}
@media (max-width: 991.8px) {
  .callback__box:hover .underline__dots {
    background-size: 1.25vw 0.625vw;
  }
}
.callback__image {
  grid-area: im;
  width: 0.3125vw;
  height: 0.3125vw;
  background-image: url("../../image/phone.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 991.8px) {
  .callback__image {
    width: 1.875vw;
    height: 1.875vw;
  }
}
.underline__dots {
  width: 100%;
  height: 0.5208333333vw;
  background-repeat: repeat-x;
  background-image: url("../../image/dot.svg");
  background-size: 0.3125vw 0.1041666667vw;
  transition: 0.2s;
  margin-top: 0.2083333333vw;
}
@media (max-width: 991.8px) {
  .underline__dots {
    background-size: 1.875vw 0.625vw;
    margin-top: 1.25vw;
  }
}
.underline__dots--callback {
  grid-area: do;
}

.menu__list {
  display: flex;
  gap: 4.6875vw;
  padding-top: 1.4583333333vw;
  padding-bottom: 1.25vw;
}
@media (max-width: 991.8px) {
  .menu__list {
    display: none;
  }
}
.menu__list-link {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.625vw;
  line-height: 0.8333333333vw;
  letter-spacing: 0.15em;
  color: #2A2A2A;
  display: block;
  transition: 0.2s;
}
.menu__list-link:hover {
  color: #FD2016;
}

.general {
  height: 47.4479166667vw;
  background-image: url("../../image/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 991.8px) {
  .general {
    background-position-x: -156.25vw;
    background-position-y: 0vw;
    height: 187.5vw;
    background-image: url("../../image/bg-mobile.png");
  }
}

.main {
  width: 100%;
  background: linear-gradient(270deg, rgba(22, 26, 30, 0) 0%, rgba(22, 26, 30, 0.6375) 79.17%);
}

.attic {
  background: linear-gradient(180deg, rgba(22, 26, 30, 0.75) 0%, rgba(22, 26, 30, 0.2925) 36.3%);
  height: 100%;
  padding: 6.6666666667vw 0 0 5.9895833333vw;
}
@media (max-width: 991.8px) {
  .attic {
    padding: 29.6875vw 0 0 7.8125vw;
  }
}
.attic__title {
  max-width: 52.0833333333vw;
  font-weight: 400;
  font-size: 3.3854166667vw;
  line-height: 4.9479166667vw;
  letter-spacing: 0.02em;
  color: #fff;
}
@media (max-width: 991.8px) {
  .attic__title {
    font-size: 6.25vw;
    line-height: 9.0625vw;
    max-width: 68.75vw;
  }
}
.attic__title-strong {
  font-weight: 700;
}
@media (max-width: 991.8px) {
  .attic__title-strong {
    font-size: 6.25vw;
    line-height: 9.0625vw;
  }
}
.attic__description {
  padding-block: 2.34375vw;
  font-weight: 400;
  font-size: 1.40625vw;
  line-height: 2.34375vw;
  letter-spacing: 0.02em;
  color: #fff;
}
@media (max-width: 991.8px) {
  .attic__description {
    padding-block: 8.75vw;
    max-width: 68.75vw;
    font-size: 3.75vw;
    line-height: 5.625vw;
    color: #fff;
  }
}
.attic__btn {
  display: flex;
  gap: 1.1458333333vw;
}
@media (max-width: 991.8px) {
  .attic__btn {
    flex-direction: column;
    align-items: center;
    gap: 4.6875vw;
    padding-top: 9.0625vw;
    padding-right: 7.8125vw;
  }
}
.attic__btn-item {
  width: 20.8333333333vw;
  height: 5.2083333333vw;
  border-radius: 500px;
  border: 0.0520833333vw solid rgba(255, 255, 255, 0.45);
  background: transparent;
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  overflow: hidden;
}
@media (max-width: 991.8px) {
  .attic__btn-item {
    width: 86.25vw;
    height: 18.75vw;
  }
}
.attic__btn-item:hover {
  background-color: rgba(39, 39, 39, 0.5);
}
.attic__btn-item--accent {
  background: #FD2016;
  border: none;
}
.attic__btn-item--accent:hover {
  background-color: #fd5049;
}
.attic__btn-description {
  font-weight: 400;
  font-size: 0.8333333333vw;
  line-height: 1.25vw;
  letter-spacing: 0.04em;
  color: #fff;
  max-width: 100%;
}
@media (max-width: 991.8px) {
  .attic__btn-description {
    font-weight: 600;
    font-size: 3.125vw;
    line-height: 4.6875vw;
    text-align: center;
  }
}
.attic__btn-description--accent {
  max-width: 11.71875vw;
}
@media (max-width: 991.8px) {
  .attic__btn-description--accent {
    max-width: 59.375vw;
  }
}
@media (max-width: 991.8px) {
  .attic__btn-description span {
    color: #20C863;
  }
}
.attic__btn-image {
  width: 1.5625vw;
  height: 1.5625vw;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s;
  background-image: url("../../image/whatsapp-transparent.svg");
}
@media (max-width: 991.8px) {
  .attic__btn-image {
    display: none;
  }
}
.attic__btn-image--accent {
  width: 1.1458333333vw;
  height: 1.1458333333vw;
  background-image: url("../../image/line.svg");
}

.attic__btn-item--accent:hover .attic__btn-image--accent {
  transform: rotateZ(45deg);
}

.attic__btn-item::after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.attic__btn-item:after, .attic__btn-item:after {
  animation: sheen 2s forwards;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
.basement {
  position: relative;
  margin-bottom: 7.8125vw;
}

.footer {
  position: absolute;
  top: -9.0625vw;
  left: 5.9895833333vw;
}
@media (max-width: 991.8px) {
  .footer {
    position: initial;
    width: 100%;
    padding: 7.8125vw;
  }
}
.footer__wrapper {
  display: flex;
}
@media (max-width: 991.8px) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.6875vw;
    margin-inline: auto;
    justify-content: center;
  }
}
.footer__item {
  padding-inline: 4.9479166667vw;
  padding-bottom: 1.7708333333vw;
}
@media (max-width: 991.8px) {
  .footer__item {
    padding-inline: 0;
    padding-bottom: 0;
  }
}
.footer__item-image {
  width: 0.7291666667vw;
  height: 0.5208333333vw;
  background-image: url("../../image/done-orange.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1.1458333333vw;
}
@media (max-width: 991.8px) {
  .footer__item-image {
    width: 4.375vw;
    height: 3.125vw;
  }
}
.footer__item-title {
  font-weight: 300;
  font-size: 0.8854166667vw;
  line-height: 1.40625vw;
  letter-spacing: 0.02em;
  color: #fff;
  min-width: 7.8125vw;
}
@media (max-width: 991.8px) {
  .footer__item-title {
    font-weight: 400;
    font-size: 3.125vw;
    line-height: 4.6875vw;
    color: #282828;
  }
}
.footer__item-strong {
  font-weight: 800;
}
@media (max-width: 991.8px) {
  .footer__item-strong {
    font-weight: 700;
  }
}

.footer__item:not(:last-child) {
  border-right: 0.0520833333vw solid rgba(255, 255, 255, 0.25);
}

.footer__item:first-child {
  padding-left: 0;
}

.burger {
  width: 0;
  height: 0;
}
@media (max-width: 991.8px) {
  .burger {
    width: 4.6875vw;
    display: block;
    height: 4.6875vw;
    position: absolute;
    right: -10.9375vw;
    top: 7.8125vw;
    background-image: url("../../image/burger.svg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
}

.burger--black {
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 4.6875vw;
  height: 4.6875vw;
  position: absolute;
  right: -10.9375vw;
  top: 7.8125vw;
  background-image: url("../../image/burger-black.svg");
}

.modal-burger {
  background-color: #fff;
  z-index: 6;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw; /* viewport width */
  height: 100vh; /* viewport height */
  overflow: auto;
}

.modal-burger__wrapper {
  display: flex;
  gap: 2.5vw;
}

.callback__title--burger,
.callback__link--burger,
.callback__call-description--burger {
  color: #2A2A2A;
}

.header__wrapper--burger {
  display: flex;
  flex-direction: column;
  border-bottom: none;
}

.burger-contacts__link {
  font-weight: 400;
  font-size: 5vw;
  line-height: 6.875vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1C1C1C;
  padding-bottom: 8.75vw;
  display: block;
  transition: 0.2s;
}
.burger-contacts__link:hover {
  color: #FD2016;
}

.burger-contacts {
  margin-left: -7.8125vw;
}

.burger-contacts__list {
  padding-top: 9.6875vw;
}

.contact-box {
  margin-top: -6.25vw;
  padding-bottom: 5.3125vw;
}

.contact-box__item {
  font-weight: 400;
  font-size: 3.75vw;
  line-height: 7.8125vw;
  color: #929292;
  transition: 0.2s;
}
.contact-box__item:hover {
  color: #FD2016;
}

.burger-contacts__link:not:first-child {
  padding-bottom: 8.75vw;
}

.visible {
  display: flex;
}

.hidden {
  overflow: hidden;
}

/*# sourceMappingURL=index.css.map */
