@use "../presets/variables" as *;
@use "../mixin/media_mixin" as *;
@use "../common/function" as *;

.basement {
  position: relative;
  margin-bottom: vw(150);
}

.footer {
  position: absolute;
  top: vw(-174);
  left: vw(115);
  @include lg {
    position: initial;
    width: 100%;
    padding: vm(25);
  }
  &__wrapper {
    display: flex;
    @include lg {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: vm(15);
      margin-inline: auto;
      justify-content: center;
    }
  }
  &__item {
      padding-inline: vw(95);
      padding-bottom: vw(34);
    @include lg {
      padding-inline: 0;
      padding-bottom: 0;
    }
    &-image {
      width: vw(14);
      height: vw(10);
      background-image: url('../../image/done-orange.svg');
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: vw(22);
      @include lg {
        width: vm(14);
        height: vm(10);
      }
    }
    &-title {
      font-weight: 300;
      font-size: vw(17);
      line-height: vw(27);
      letter-spacing: 0.02em;
      color: $color-white;
      min-width: vw(150);
      @include lg {
        font-weight: 400;
        font-size: vm(10);
        line-height: vm(15);
        color: $color-footer-title;

      }
    }
    &-strong {
      font-weight: 800;
      @include lg {
        font-weight: 700;
      }
    }
  }
}

.footer__item:not(:last-child) {
  border-right: vw(1) solid rgba($color-white, 0.25);
}

.footer__item:first-child {
  padding-left: 0;
}