
$color-white: #fff;
$color-text: #2A2A2A;
$color-accent: #FD2016;
$color-scroll: #EFEFEF;
$color-phone-indicator: #20C863;
$color-modal-callback: #231F21;
$color-bg-input: #FAFAFA;
$color-whatsapp-span: #20C863;
$color-footer-title: #282828;
$color-list-modal: #1C1C1C;
$color-list-item: #929292;

$color-checkbox-hover: #f89c98;
$color-checkbox-active: #f6736d;
$color-checkbox-focus-not-checked: #f14a43;
$color-checkbox-disabled: #fa382f;





