@use "../presets/variables" as *;
@use "../mixin/media_mixin" as *;
@use "../common/function" as *;

.burger {
  width: 0;
  height: 0;
  @include lg {width: vm(15);
    display: block;
    height: vm(15);
    position: absolute;
    right: vm(-35);
    top: vm(25);
    background-image: url('../../image/burger.svg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;}
}

.burger--black {
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: vm(15);
  height: vm(15);
  position: absolute;
  right: vm(-35);
  top: vm(25);
  background-image: url('../../image/burger-black.svg');
}

.modal-burger {
  //height: 100%;
  //width: 100%;
  background-color: #fff;
  z-index: 6;
  display: none;

  position: fixed;
  top: 0;
  bottom:0;

  width: 100vw; /* viewport width */
  height: 100vh; /* viewport height */
  //overflow-y: scroll;
  //overflow-x: hidden;
  overflow: auto;
}


.modal-burger__wrapper {
  display: flex;
  gap: vm(8);
}

.callback__title--burger,
.callback__link--burger,
.callback__call-description--burger {
  color: $color-text;
  font-size: vw(12);
  line-height: vw(21);
  letter-spacing: 0.05em;
  grid-area: de;
  margin-right: vw(10);
  @include lg {
    font-size: vm(6);
  }
}

.header__wrapper--burger {
  display: flex;
  flex-direction: column;
  border-bottom: none;
}

.burger-contacts__link {
  font-weight: 400;
  font-size: vm(16);
  line-height: vm(22);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color-list-modal;
  padding-bottom: vm(28);
  display: block;
  transition: 0.2s;
  &:hover {
    color: $color-accent;
  }
}

.burger-contacts {
  margin-left: vm(-25);
}

.burger-contacts__list {
  padding-top: vm(31);
}

.contact-box {
  margin-top: vm(-20);
  padding-bottom: vm(17);
}
.contact-box__item {
  font-weight: 400;
  font-size: vm(12);
  line-height: vm(25);
  color: $color-list-item;
  transition: 0.2s;
  &:hover {
    color: $color-accent;
  }
}

.burger-contacts__link:not:first-child {
  padding-bottom: vm(28);
}

.visible {
  display: flex;
}

.hidden {
  overflow: hidden;
}

.burger-social {
  padding-top: vm(15);
}

.burger-social__image {
  background-image: url('../../image/map-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: vm(65);
  height: vm(65);
  &--calc {
    background-image: url("../../image/calc-mobile.svg");
  }
  &--person {
    background-image: url("../../image/person-mobile.svg");
  }
}

.burger-social__title {
  font-weight: 400;
  font-size: vm(14);
  line-height: vm(19);
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: $color-text;
}

.burger-social__description {
  font-weight: 800;
  font-size: vm(14);
  line-height: vm(18);
  display: flex;
  align-items: center;
  color: $color-text;
}

.burger-social__box:hover .underline__dots {
  width: 60%;
  background-size: vw(4) vw(2);
  @include lg {
    background-size: vm(4) vm(2);
  }
}

.burger-social__item {
  gap: vm(18);
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-bottom: vm(30);
}

.burger-social__links {
  display: flex;
  gap: vm(7);
}

.burger-social__link {
  width: vm(32);
  height: vm(32);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../image/whatsapp.svg');
  &--telegram {
    background-image: url('../../image/telegram.svg');
  }
  &--viber {
    background-image: url('../../image/viber.svg');
  }
}