@use "../presets/variables" as *;
@use "../mixin/media_mixin" as *;
@use "../common/function" as *;

.page-wrapper {
  display: flex;
  position: relative;
}

.container {
  max-width: vw(1640);
  margin-inline: auto;
  display: flex;
  @include lg {
    max-width: 100%;
  }
}

.header {
  padding-top: vw(22);
  @include lg {
    padding-top: 0;
    height: 119px;
    position: fixed;
    width: 100%;
    transition: 0.6s;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    border-bottom: vw(1) solid rgba($color-text, 0.15);
    padding-bottom: vw(11);
    @include lg {
      position: fixed;
      justify-content: space-between;
      padding: vm(16) 0 0 vm(25);
      width: 80%;
    }
  }
  &__logo {
    display: flex;
    gap: vw(23);
    align-items: center;
    padding-right: vw(65);
    &-image {
      width: vw(213);
      height: vw(50);
      background-image: url("../../image/logo.svg");
      background-size: cover;
      background-repeat: no-repeat;
      @include lg {
        width: vm(92);
        height: vm(22);
      }
    }
    &-picture {
      width: 100%;
    }
    &-description {
      font-size: vw(11);
      line-height: 182%;
      letter-spacing: 0.02em;
      color: $color-text;
      max-width: vw(134);
      @include lg {
        display: none;
      }
    }
  }
  &__contact {}
  &__callback {}
}
.contact {
 &__list {
   display: flex;
   gap: vw(57);
   @include lg {
     display: none;
   }
 }
 &__item {
   display: flex;
   gap: vw(10);
   align-items: center;
 }
}

.fixed-color {
  @include lg {
    z-index: 4;
    background: linear-gradient(270deg, rgba(22, 26, 30, 90) 0%, rgba(22, 26, 30, 95) 95%);
  }
}
