@use "../presets/variables" as *;
@use "../mixin/media_mixin" as *;
@use "../common/function" as *;

.modal {
  &-google {
    width: 100vw;
    height: 100vh;
    background-color: rgba(#232323, 0.5);
    z-index: 2;
    position: absolute;
    display: none;
    &__map {
      margin: auto;
      width: 70%;
      height: 70%;
    }
  }
  &-callback {
    width: 100vw;
    height: 100vh;
    background-color: rgba(#232323, 0.5);
    z-index: 10;
    position: fixed;
    display: none;
    &__box {
      padding-top: vw(40);
      width: vw(500);
      height: vw(600);
      background-color: $color-modal-callback;
      margin-top: vw(50);
      margin-inline: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $color-white;
      position: relative;
      @include lg {
        padding-top: vm(70);
        width: vm(320);
        height: 100%;
        margin-top: 0;

      }
      &-trigger {
        position: absolute;
        background-image: url("../../image/cross.svg");
        background-size: cover;
        background-repeat: no-repeat;
        width: vw(20);
        height: vw(20);
        right: vw(35);
        top: vw(35);
        cursor: pointer;
        transition: 0.2s;
        @include lg {
          width: vm(20);
          height: vm(20);
          right: vm(35);
          top: vm(35);
        }
      }
    }
    &__title {
      font-weight: 500;
      font-size: vw(32);
      line-height: vw(44);
      text-align: center;
      max-width: vw(282);
      @include lg {
        font-size: vm(32);
        line-height: vm(44);
        max-width: vm(282);
      }
    }
    &__description {
      max-width: vw(363);
      font-size: vw(18);
      line-height: vw(28);
      text-align: center;
      color: $color-white;
      padding-top: vw(20);
      @include lg {
        max-width: vm(363);
        font-size: vm(18);
        line-height: vm(28);
        padding-top: vm(20);
        padding-inline: vm(25);
      }
    }
  }
  &-success {
    width: 100vw;
    height: 100vh;
    background-color: rgba(#232323, 0.5);
    z-index: 10;
    position: absolute;
    display: none;
  }
}

.visible {
  display: flex;
}

.form {
  display: block;
  padding-inline: vw(68);
  @include lg {
    padding-inline: vm(68);
  }
  &-label {
    font-size: vw(14);
    line-height: vw(19);
    padding-bottom: vw(12);
    padding-top: vw(34);
    display: block;
    text-align: center;
    @include lg {
      font-size: vm(14);
      line-height: vm(19);
      padding-bottom: vm(12);
      padding-top: vm(34);
    }
  }
  &-btn {
    width: vw(363);
    height: vw(85);
    border-radius: vw(73);
    @include lg {
      width: 100%;
      height: vm(30);
      border-radius: vm(73);
    }
  }
  &-control {
    border: none;
    background: $color-bg-input;
    box-shadow: inset 0 0 vw(21) rgba(255, 255, 255, 0.4);
    font-size: vw(18);
    line-height: vw(24);
    letter-spacing: 0.03em;
    text-align: center;
    color: #B0B0B1;
    @include lg {
      font-size: vm(12);
      line-height: vm(24);
    }
  }
  &-submit {
    background-color: $color-accent;
    color: $color-white;
    font-weight: 600;
    font-size: vw(16);
    line-height: vw(24);
    letter-spacing: 0.04em;
    margin-block: vw(25);
    cursor: pointer;
    transition: 0.2s;
    @include lg {
      font-size: vm(12);
      line-height: vm(24);
      margin-block: vm(25);
    }
    &:hover {
      background-color: lighten($color-accent, 10%);
    }
  }
  &-wrapper {
    display: flex;
    gap: vw(14);
  }
}

.checkbox {
  &-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  &-input:checked + label {
    content: "";
    padding-left: vw(28);
    line-height: vw(20);
    position: relative;
    cursor: pointer;
    @include lg {
      padding-left: vm(28);
      line-height: vm(20);
    }
  }
  &-input:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: vw(28);
    line-height: vw(20);
    cursor: pointer;
    @include lg {
      padding-left: vm(28);
        line-height: vm(20);
    }
  }
  &-input:checked + label:before {
    content: "";
    background-image: url("../../image/done.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    position: absolute;
    left: vw(1);
    top: vw(11);
    width: vw(20);
    height: vw(20);
    border: none;
    background-color: $color-accent;
    border-radius: 2px;
    @include lg {
      left: vm(1);
      top: vm(11);
      width: vm(20);
      height: vm(20);
    }
  }
  &-input:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: vw(1);
    top: vw(11);
    width: vw(20);
    height: vw(20);
    border: 1px solid #fff;
    background-color: #ffffff;
    border-radius: vw(2);
    @include lg {
      left: vm(1);
      top: vm(11);
      width: vm(20);
      height: vm(20);
    }
  }
  &-label {
    font-size: vw(14);
    line-height: vw(19);
    color: $color-white;
    @include lg {
      font-size: vm(14);
      line-height: vm(19);
    }
  }
  &-link {
    color: $color-accent;
  }
}
 .position {
   display: flex;
   justify-content: center;
   align-items: center;
 }

@keyframes shake {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0;
  }
}

.invalid {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.6rem #ff0000;
}